{%  extends 'accounts/main.html' %}

{% block content %}

<br>


		<div class="card card-body text-dark bg-light mb-3">
			<h5>Users:</h5>
			<table class="table">
				<thead>
					<tr>
					<th></th>
					<th>User Name</th>
					<th>Phone</th>
					</tr>
				</thead>			

				{% for user in users %}
					<tr>
						<td><a class="btn btn-sm btn-info" href="{% url 'user' user.id %}">View</a></td>
						<td>{{user.userName}}</td>
						<td>{{user.userPhone}}</td>
					</tr>
				{% endfor %}

			</table>
		</div>




{% endblock %}