{% extends 'accounts/main.html' %} 
{% block content %} 
{% load crispy_forms_tags %}

<br>
<div class="card card-body text-dark bg-light mb-3">

    <h5> Upload Code</h5>
    <hr>
    <form method='POST' enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy}}
        <br>
        <button type ="submit" class ="btn btn-primary">Upload</button>
    </form>
    {% for message in messages %}
        <p id="messages" style="color: green;">{{message}}</p>
    {% endfor %}

</div>

{% endblock %}