{% extends 'base.html' %} 
{% block content %} 
<div class="container"> 
    <div class="searchbar">
        <div class="form-group">
        <form method='GET' action="">
            <input type="text"  class="form-control" name="q" placeholder="Search here..."/><br><br>
        </form>
    </div>
        <div>
            <a href="{% url 'show' %}" class ="btn btn-secondary" style="padding: 10px;">All</a>
        </div>
        <br>
        <hr>
    </div> 

<h2>Different Semester's Question and Solution</h2>
<table class="table mb-0">
    <thead>
        <tr>
            <th>Subject</th>
            <th>Semester</th>
            <th>Question</th>
            <th>Solution</th>
        </tr>
    </thead>
    <tbody>
        {% for quesAndSolution in quesAndSolutions %}
        <tr>
            <td>{{ quesAndSolution.subject }}</td>
            <td>{{ quesAndSolution.semester }}</td>
            <td>
                {% if quesAndSolution.question %}
                    <a href= "{{ quesAndSolution.question.url }}" class="btn btn-primary
                    btn-sm" target ="_blank">View Question</a>
                {% endif %}
                </td>
            <td><a href= "{{ quesAndSolution.solution.url }}" class="btn btn-primary
                btn-sm" target ="_blank">Download PDF</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}